<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>About Us</h2>
            </div>
            <div class="col-12">
                <a routerLink="/home">Home</a>
                <a routerLink="/about">About Us</a>
            </div>
        </div>
    </div>
</div>

<div class="about wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <div class="about-img">
                    <img src="assets/about/about.jpg" alt="Image">
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="section-header text-left">
                    <p>Welcome to Classy Construction</p>
                    <h2>Jan 2018</h2>
                </div>
                <div class="about-text">
                    <p>
                        Our construction company has been founded Jan 2018, at the very peak of the building frenzy in the India…
                    </p>
                    <p>
                        Since our incorporation, we’ve grown from a regional organization to a multi-faceted, presence in the industry with headquarters in Karantaka Bangalore.
                    </p>
                    <p>
                        We are proud of making our clients smile. We initially started by taking up the construction of residential houses and bungalows in Bangalore. Our architectural designs were meant to accomplish design simplicity, using space to accommodate future needs and cost effective construction. Our philosophy is to make people realise their dream homes by giving the best solution with in their aspiration and budget.
                    </p>
                    <p>
                        Prabin Construction came into existence in 2018 we started construction for independent houses than stepped into Villas & apartment construction. Our pricing is very competitive We take up turnkey projects from Architectural drawings till handing over the constructed project.
                    </p>
                    <p>
                        We have constructed independent houses which were conceptualize and designed by our team. We emphasize on special features to serve your appetite of life. We use high quality material in order to give best to our customers.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>