<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Vision & Mission</h2>
            </div>
            <div class="col-12">
                <a routerLink="/home">Home</a>
                <a routerLink="/about">About Us</a>
            </div>
        </div>
    </div>
</div>

<div class="about wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 col-md-12">
                <div class="section-header text-left">
                    <p>Welcome to Classy Construction</p>
                    <h2>Vision & Mission</h2>
                </div>
                <div class="about-text">
                    <p>
                        We at Prabin Construction believe that Interior Designing is an art of structuring, arranging, furnishing, and decorating the surroundings that makes your living healthy and lively, keeping in mind the convenience & space for your various activities, comfort, luxurious ease, celestial ambience, and rejuvenating indulgence to your keen senses for Luxury, Architecture and Lifestyle.
                    </p>
                    <p>
                        We create designs that add value to your home.
                    </p>
                    <p>
                        Core Values : Integrity, Reliability, Updating ourselves with latest developments inour field, keep purposing new innovative designs & ideas to our clients to delight them.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>