<div class="footer wow fadeIn" data-wow-delay="0.3s">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="footer-contact">
                    <h2>Office Contact</h2>
                    <p><i class="fa fa-map-marker-alt"></i>13, 3rd Floor, veerachannappa Building, Somanahalli, Shivaji Layout, Kanakapura Main Road, Bangalore karnataka - 560082</p>
                    <p><i class="fa fa-phone-alt"></i>+91 9902503087</p>
                    <p><i class="fa fa-envelope"></i>info@classyconstruction.in</p>
                    <p><i class="fa fa-envelope"></i>prabinj@classyconstruction.in</p>
                    <div class="footer-social">
                        <a><i class="fab fa-twitter"></i></a>
                        <a><i class="fab fa-facebook-f"></i></a>
                        <a><i class="fab fa-youtube"></i></a>
                        <a><i class="fab fa-instagram"></i></a>
                        <a><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="footer-link">
                    <h2>Services Areas</h2>
                    <a>Paint & Polish Works</a>
                    <a>Residential and Commercial Building & Villas Project.</a>
                    <a>Layout Development Works</a>
                    <a>Epoxy Grouting Works</a>
                    <a>Finishing Works</a>
                    <a>Interior Works</a>
                    <a>VDF Flooring Works</a>
                    <a>Water Proofing Works</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="footer-link">
                    <h2>Useful Pages</h2>
                    <a routerLink="/about">About Us</a>
                    <a routerLink="/contact">Contact Us</a>
                    <a routerLink="/service">Services</a>
                    <a routerLink="/vision">Vision & Mission</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="newsletter">
                    <h2>Business Hours</h2>
                    <p>
                        Monday to Sunday: 9am to 6pm
                    </p>
                    <p>Support Hours is 24/7 every day</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container footer-menu">
        <div class="f-menu">
            <a>Terms of use</a>
            <a>Privacy policy</a>
            <a>Cookies</a>
            <a>Help</a>
            <a>FQAs</a>
        </div>
    </div>
    <div class="container copyright">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; <a routerLink="/home"></a>, All Right Reserved.</p>
            </div>
            <!-- <div class="col-md-6">
                <p>Designed By <a routerLink="/home"></a></p>
            </div> -->
        </div>
    </div>
</div>