<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Our Services</h2>
            </div>
            <div class="col-12">
                <a routerLink="/home">Home</a>
                <a routerLink="/about">About Us</a>
            </div>
        </div>
    </div>
</div>
<div class="service">
    <div class="container">
        <div class="section-header text-center">
            <p>Our Services</p>
            <h2>We Provide Services</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="assets/services/960x0-570x380.jpg" alt="Image">
                        <div class="service-overlay">
                            <p>
                                Paint & Polish Works
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>Paint & Polish Works</h3>
                        <a class="btn" href="assets/services/960x0-570x380.jpg" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="assets/services/CARILLION-ANY-LESSONS-FOR-THE-SOUTH-AFRICAN-CONSTRUCTION-INDUSTRY.jpg" alt="Image">
                        <div class="service-overlay">
                            <p>
                                Residential and Commercial Building & Villas Project.
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>Residential and Commercial Building & Villas Project.</h3>
                        <a class="btn" href="assets/services/CARILLION-ANY-LESSONS-FOR-THE-SOUTH-AFRICAN-CONSTRUCTION-INDUSTRY.jpg" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="assets/services/CDM.jpg" alt="Image">
                        <div class="service-overlay">
                            <p>
                                Layout Development Works
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>Layout Development Works</h3>
                        <a class="btn" href="assets/services/CDM.jpg" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="assets/services/download.jpg" alt="Image">
                        <div class="service-overlay">
                            <p>
                                Epoxy Grouting Works
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>Epoxy Grouting Works</h3>
                        <a class="btn" href="assets/services/download.jpg" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="assets/services/img-15.jpg" alt="Image">
                        <div class="service-overlay">
                            <p>
                                Finishing Works
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>Finishing Works</h3>
                        <a class="btn" href="assets/services/img-15.jpg" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="assets/services/modern-interior-design-los-angeles-570x356.jpg" alt="Image">
                        <div class="service-overlay">
                            <p>
                                Interior Works
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>Interior Works</h3>
                        <a class="btn" href="assets/services/modern-interior-design-los-angeles-570x356.jpg" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="assets/services/using-Keson-Screed-570x423.jpg" alt="Image">
                        <div class="service-overlay">
                            <p>
                                VDF Flooring Works
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>VDF Flooring Works</h3>
                        <a class="btn" href="assets/services/using-Keson-Screed-570x423.jpg" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="assets/services/water-proofing-terrace-1.jpg" alt="Image">
                        <div class="service-overlay">
                            <p>
                                Water Proofing Works
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>Water Proofing Works</h3>
                        <a class="btn" href="assets/services/water-proofing-terrace-1.jpg" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>